.banner_container{
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}


.title_banner_container{
    display: block;
    /* width: 50%; */
}

.subtitle-inside-card{
    margin-bottom: 10px;
}
.subtitle-inside-card span{
    font-size: 0.8rem;
    color: #555;
}

.card_example_code{
    /* margin: 20px; */
    /* padding: 20px; */
    border-radius: 12px;
    border: 1px solid #999;
}


.card_example_code_example{
    padding: 20px;
}

.card_example_code_html{
    border-top: 1px solid #999;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 12px;
    position: relative;
}

.card_example_code_html code{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.copy_btn{
    top: 0;
    right: 0;
    position: absolute;
}

.copy_btn i{
    cursor: pointer;
}

.tooltip_components {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-right: 5px;
    color: #555;
}
  
.tooltip_components .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip_components .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip_components:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.buttons_card{
    
    border-radius: 12px;
    border: 1px solid #999;
}

.buttons_card_title_container{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #999;
    position: relative;
}

.buttons_card_title_btn{
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.buttons_card_title_btn i{
    cursor: pointer;
}

.buttons_card_title span{
    font-size: 20px;
    font-weight: bold;
}

.buttons_card_buttons_container{
    padding: 20px;
    display: flex;
}

.buttons_card_buttons_container button{
    margin-right: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  
.buttons_card_buttons_code{
    text-align: left;
    padding: 20px;
    border-top: 1px solid #999;
    background-color: rgb(245, 245, 245);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: relative;
}

.buttons_card_buttons_code code{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 15px;
}

.card_code{
    text-align: left;
    padding: 20px;
    border: 1px solid #999;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    display: relative;
}

.card_code code{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 12px; 
}